@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}
 
*{
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  font-family: "Playwrite ES", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}