.card{
    width: 90%;
    /* border: 1px solid red; */
    border-radius: 2em;
    background: transparent;
    display: flex;
    height: 150px;
    margin: auto;
}


.left{
    max-width: 125px;
    width: 40%;
    /* border: 1px solid green; */
    border-radius: 2em 0 0 2em;
    background: url('/images/defaultFood.png');
}
.right{
    flex: 1;
    border: 1px solid #ffffff3c;
    border-left: none;
    color: #ffffffdb;
    padding: 1em;
    background: #00000064;
    backdrop-filter: blur(10px);
    border-radius: 0 2em 2em 0;
    position: relative;
}
.card:hover{
    background-color: #ffffffa2;
    /* border: 2px solid orange; */
    /* color: #000000dc; */
}

.title{
    font-size: 1.2em;
    font-weight: bold;
}

.buttons{
    position: absolute;
    /* border: 1px solid red; */
    right: 1em;
    bottom: 0;
}

.buttons img{
    width: 1.2em;
    margin: 2px;
}

.buttons img:hover{
    filter: drop-shadow(0 0 2px #d6d6d6c9)
}

.remove, .add{
    transform: scale(1.2);
    margin: 5px;
}
.remove:active, .add:active{
    transform: scale(1);
}